* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Forma DJR Display";
    font-weight: 00;
    font-style: normal;
}

body {
    background-color: #161616;
}

.hero-nav-banner {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    top: 30px;
    position: sticky;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.hero-container {
    margin: 0 5%;
}

.hero-background {
    padding-top: 5%;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("assets/stacked-waves-haikei.svg");
}

.hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner h1 {
    font-size: 4rem;
    font-family: "Forma DJR Display", "sans-serif";
    font-weight: 00;
    font-style: normal;
    text-align: center;
}

.hero-banner h2 {
    font-weight: lighter;
}

.word-container {
    position: relative;
    display: block;
    height: 30px !important;
}

.scrolling-word,
.hidden-word {
    transition: opacity 0.3s;
    font-size: 15pt;
}

.scrolling-word {
    opacity: 0.5;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.scrolling-word:hover {
    opacity: 0;
}


.hidden-word {
    position: absolute;

    top: 100%;
    left: 0;
    opacity: 0;
    transition: top 0.3s, opacity 0.3s;
}

.word-container:hover .hidden-word {
    top: 0;
    opacity: 1;;
}


.hero-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 5% 10%;
}


a .return-button:hover {
    font-weight: 00 !important;
    color: white !important;

}

a {
    text-decoration: none;
    color: white !important;

}

section {
    margin-bottom: 150px;
}


.about-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 10% 10% 10%;
}

.deliverable-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30pt;
}

.deliverable-wrapper {
    border-radius: 10px;
    height: 14rem;
    width: 20rem;
    background-color: #252525;
    padding: 15px 0 0 15px;
    box-shadow: #1a1d20;
}

.normal-state {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.normal-state::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.normal-state:hover::after {
    width: 100%;

}

.content-deliverable {
    margin-top: 25pt;
}

.carousel-caption {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.27);
}

.tools-banner {
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 10% 10%;
}

.dot-span {
    color: white;
}

.main-banner h3, span {
    font-family: "Forma DJR Display", "sans-serif";
    font-weight: 00;
    font-style: normal;
    font-size: 3rem;
    z-index: 50;
}

p {
    font-family: "Forma DJR Display Hairline", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    z-index: 50;
}

.icon-span {
    font-family: "Forma DJR Display", "sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding-left: 5px;
}

.logo-name-wrapper {
    margin-right: 200px;
    display: flex;
    align-items: center;
}

.logo-identifier-wrapper {
    display: flex;
    align-items: center !important;
}

.logo-identifier-wrapper h3 {
    font-weight: 200;
    font-size: 12.5pt;
}

#scroll-heading-about,
#scroll-heading-work,
#scroll-heading-workplace {
    font-size: 8.31rem;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
    -webkit-text-fill-color: transparent;
}

.main-tools-banner {
    width: 35%;
}

.main-tools-banner h1 {
    font-size: 40pt;
    padding-bottom: 15pt;
}

.icon-wrapper {
    display: flex;
}


#figma, #html5, #css, #javascript, #bootstrap5, #photoshop, #illustrator {
    width: 2rem;
    height: 2rem;
    margin-right: 25px;
}

.icon-wrapper {
    border: white 0.5px solid;
    border-right: none;
    border-left: none;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 0.6s;
}


.icon-wrapper:hover {
    background: rgba(129, 129, 129, 0.25);
}

.logo-name-wrapper h1 {
    font-weight: 300;
    font-size: 15pt;
}


.hidden {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.5s, transform 2s;
}

.hidden2 {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.5s, transform 3s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.cube-logo img {
    height: 2.5rem;
}

.arrow-downwards {
    margin-top: 100px;
    display: flex;
    justify-content: center;

}

#arrow-down {
    height: 2.5rem;
}

.container-tools {
    display: flex;
    justify-content: space-between;
}

.container-tools > div:nth-child(2) {
    margin-left: 20px;
}

.container-tools > div:last-child {
    margin-left: auto;
}


.social-container {
    display: flex;
    justify-content: space-between;
}

.first-social-container p {
    font-size: 20pt;
    font-weight: 300;
}


.footer-background {
    height: 10vh;
    background-color: #090909;
}

.social-container {
    padding-top: 15px;
    margin: 5% 10% 0 10% !important;
}

.footer-title {
    margin-bottom: 15px !important;
}


#wpl1-button, #reflection-button {
    margin-top: 35px;
    width: 150px;
    height: 40px;
    border: white solid 1px;
    padding: 10px;
    border-radius: 25px;

}

#wpl1-button:hover, #reflection-button:hover {
    background-color: white;
    color: black !important;
}

.title-banner {
    margin-bottom: 25pt;
}

.sub-banner h4 {
    font-size: 25pt;
}

.sub-banner p {
    margin-bottom: 15pt;
}

.social-link i:hover {
    color: black;
}


.social-media {
    list-style-type: none;
    padding: 0;
}

.social-media li {
    display: inline-block;
    margin-right: 10px;
}

.social-media li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #3a3a3a;
    border-radius: 50%;
}

.social-media li a i {
    color: white;
    font-size: 20px;
}

.social-media {
    display: flex;
}

@media (max-width: 767px) {
    .tools-banner {
        flex-direction: column;
    }

    .icon-wrapper {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 414px) {
    .footer-background {
        height: 0vh;
    }

    .main-tools-banner {
        width: 100%;
    }

    .social-container {
        flex-direction: column;
        align-items: center;
    }

    .logo-name-wrapper {
        margin-right: 100px;
    }

    .deliverable-container {
        flex-direction: column;
    }

    .deliverable-wrapper {
        margin-bottom: 15pt;
    }

    #scroll-heading-about,
    #scroll-heading-work,
    #scroll-heading-workplace {
        font-size: 3.31rem;
        color: transparent;
        -webkit-text-stroke: 1px #ffffff;
        -webkit-text-fill-color: transparent;
    }
}
